.cardBox 
  .card 
    div 
      .numbers 1,504
      .cardName daily view
    .iconBox 
      ion-icon(name='eye-outline')
  .card 
    div 
      .numbers 80
      .cardName sales
    .iconBox 
      ion-icon(name='cart-outline')
  .card 
    div 
      .numbers 284
      .cardName comments
    .iconBox 
      ion-icon(name='chatbubbles-outline')
  .card 
    div 
      .numbers $7,833
      .cardName earning
    .iconBox 
      ion-icon(name='cash-outline')