.recentCustomers 
    .cardHeader 
      h2 recent customers
    table 
      tr 
        td.bxTd 
          .imgBx 
            img(src="images/01.png", alt="logo")
        td 
          h4 habib 
          h5 oran
      tr 
        td.bxTd 
          .imgBx 
            img(src="images/01.png", alt="logo")
        td 
          h4 amine 
          h5 mostaganem
      tr 
        td.bxTd 
          .imgBx 
            img(src="images/01.png", alt="logo")
        td 
          h4 farid 
          h5 mascara
      tr 
        td.bxTd 
          .imgBx 
            img(src="images/01.png", alt="logo")
        td 
          h4 jamel 
          h5 alger
      tr 
        td.bxTd 
          .imgBx 
            img(src="images/01.png", alt="logo")
        td 
          h4 imad 
          h5 tlemcen
      tr 
        td.bxTd 
          .imgBx 
            img(src="images/01.png", alt="logo")
        td 
          h4 samir 
          h5 oran
      tr 
        td.bxTd 
          .imgBx 
            img(src="images/01.png", alt="logo")
        td 
          h4 amar 
          h5 oran