.dataList 
  .orders 
    .cardHeader 
      h2 recent orders
      a(href="#").btn view all 
    table 
      thead 
        tr 
          th name
          th price
          th payment
          th status
      tbody 
        tr 
          td star refri 
          td $1200
          td paid 
          td
            span.status.delivered delivered 
        tr 
          td iphone
          td $900
          td due 
          td
            span.status.pending pending 
        tr 
          td laptob
          td $2300
          td paid 
          td
            span.status.return return 
        tr 
          td canon
          td $456
          td paid 
          td
            span.status.progress in progress 
        tr 
          td keysera
          td $678
          td paid 
          td
            span.status.return return 
        tr 
          td condor 
          td $345
          td paid 
          td
            span.status.pending pending 
        tr 
          td samsung
          td $345
          td due 
          td
            span.status.pending pending 
        tr 
          td lg
          td $876
          td paid 
          td
            span.status.delivered delivered 
        tr 
          td iris 
          td $345
          td paid 
          td
            span.status.return return 
        tr 
          td hp 
          td $987
          td due 
          td
            span.status.progress in progress
  .recentCustomers 
    .cardHeader 
      h2 recent customers
    table 
      tr 
        td.bxTd 
          .imgBx 
            img(src="images/01.png", alt="logo")
        td 
          h4 habib 
          h5 oran
      tr 
        td.bxTd 
          .imgBx 
            img(src="images/01.png", alt="logo")
        td 
          h4 amine 
          h5 mostaganem
      tr 
        td.bxTd 
          .imgBx 
            img(src="images/01.png", alt="logo")
        td 
          h4 farid 
          h5 mascara
      tr 
        td.bxTd 
          .imgBx 
            img(src="images/01.png", alt="logo")
        td 
          h4 jamel 
          h5 alger
      tr 
        td.bxTd 
          .imgBx 
            img(src="images/01.png", alt="logo")
        td 
          h4 imad 
          h5 tlemcen
      tr 
        td.bxTd 
          .imgBx 
            img(src="images/01.png", alt="logo")
        td 
          h4 samir 
          h5 oran
      tr 
        td.bxTd 
          .imgBx 
            img(src="images/01.png", alt="logo")
        td 
          h4 amar 
          h5 oran