.dataList 
  .orders 
    .cardHeader 
      h2 recent orders
      a(href="#").btn view all 
    table 
      thead 
        tr 
          th name
          th price
          th payment
          th status
      tbody 
        tr 
          td star refri 
          td $1200
          td paid 
          td
            span.status.delivered delivered 
        tr 
          td iphone
          td $900
          td due 
          td
            span.status.delivered pending 
        tr 
          td laptob
          td $2300
          td paid 
          td
            span.status.delivered return 
        tr 
          td canon
          td $456
          td paid 
          td
            span.status.delivered in progress 
        tr 
          td keysera
          td $678
          td paid 
          td
            span.status.delivered return 
        tr 
          td condor 
          td $345
          td paid 
          td
            span.status.delivered pending 
        tr 
          td samsung
          td $345
          td due 
          td
            span.status.delivered pending 
        tr 
          td lg
          td $876
          td paid 
          td
            span.status.delivered delivered 
        tr 
          td iris 
          td $345
          td paid 
          td
            span.status.delivered return 
        tr 
          td hp 
          td $987
          td due 
          td
            span.status.delivered in progress