nav.navigation 
  ul 
    li
      a(href="/")
        span.icon 
          ion-icon(name='logo-apple')
        span.title brand name  
    li
      a(href="/dashboard")
        span.icon 
          ion-icon(name='home-outline')
        span.title dashboard 
    li 
      a(href="/customers")
        span.icon 
          ion-icon(name='people-outline')
        span.title customers 
    li 
      a(href="/orders")
        span.icon 
          ion-icon(name='cart')
        span.title orders 
    li 
      a(href="/message")
        span.icon 
          ion-icon(name='chatbubble-outline')
        span.title message 
    li 
      a(href="/help")
        span.icon 
          ion-icon(name='help-outline')
        span.title help  
    li 
      a(href="/settings")
        span.icon 
          ion-icon(name='settings-outline')
        span.title settings 
    li 
      a(href="/password")
        span.icon 
          ion-icon(name='lock-closed-outline')
        span.title password 
    li 
      a(href="/signout")
        span.icon 
          ion-icon(name='log-out-outline')
        span.title sign out
