.topbar 
    .toggle 
      ion-icon(name='menu-outline')
    .search 
      label(for="search") 
        input(type="text" placeholder="Search")
        ion-icon(name='search-outline') 
    .user 
      img(src="/images/01.png", alt="user")