doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
    title Page Not Found
  body 
    .notfound 
      h1 404 - page not found
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nesciunt reiciendis maiores, explicabo minus architecto quae nam porro illo voluptatem modi iste dolore tenetur consectetur saepe fuga eum illum cum odit excepturi molestias? Praesentium velit quibusdam placeat, est temporibus doloremque quas fugiat voluptate minima.