doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
    script(src="index.js" defer) 
    title #{title}
  body 
    .container
      block navigation
        include includes/navigation
      block main
        include includes/main
  include includes/scripts